:root {
    --bg-1-color: rgb(48, 48, 48);
    --bg-2-color: rgb(78, 5, 55);

    --app-1-color: rgba(94, 73, 97, 0.68);
    --app-2-color: rgb(94, 27, 43);

    --columns-1-color: rgb(248, 246, 248);
    --columns-2-color: rgb(140, 8, 152);

    --task-1-color: rgb(186, 203, 237);

    --text: rgb(255, 255, 255);
    --main-redius: 10px;
    --blur:10px;

}
* {

}
body {
    background-image: linear-gradient(90deg, var(--bg-1-color), var(--bg-2-color ));

}
.App {
    text-align: center;
    background: var(--app-1-color) ;
    border-radius: var(--bg-redius);
    padding: 12px;
    margin: 23px;
    border: 12px double, var(--app-2-color);
    color: var(--text);
    padding-bottom: 123px;



}
h2:hover{
    text-shadow: #da1c1c;
    color: #ffffff;

}

.scrum-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 12px double, var(--app-2-color);
    color: var(--text);
}

.add-task-form {
    margin-bottom: 20px;
}

.add-task-form input, .add-task-form select, .add-task-form button {
    margin-right: 10px;
    border-color: var(--app-2-color);
}

.columns {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-radius: var(--main-redius), var(--app-2-color);

}

.column {
    border: 3px solid var(--app-2-color);
    width: 30%;
    border-radius: var(--main-redius);
    border-color: var(--columns-1-color);

  padding-bottom: 20px;

}

.assignment {
    border: 3px solid var(--task-1-color);
    margin: 10px 0;
    padding: 10px;
    border-radius: var(--main-redius);
    border-color: var(--task-1-color);

}

button {
    margin-top: 10px;
}

