:root {
    --primary-color: rgb(144, 0, 157);
    --secondary-color: rgb(84, 73, 73);
    --bg-color: rgb(215, 150, 183);
    --text: rgb(23, 118, 213);
    --custom-property: initial;
    --redius: 3%;
    --blur:10px;
}
* {
    color: var(--text);
    background-image: var(--bg-color) ;

}

.App {
    text-align: center;


}
h2:hover{
    text-shadow: #000000;
    color: chartreuse;

}

.scrum-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.add-task-form {
    margin-bottom: 20px;
}

.add-task-form input, .add-task-form select, .add-task-form button {
    margin-right: 10px;
}

.columns {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-radius: var(--redius);
}

.column {
    border: 3px solid var(--primary-color);
    padding: 10px;
    width: 30%;
    border-radius: var(--redius);
}

.task {
    border: 3px solid var(--secondary-color);
    margin: 10px 0;
    padding: 10px;
    border-radius: var(--redius);
}

button {
    margin-top: 10px;
}
